name: Deploy via git-ftp
on: push
jobs:
  deploy:
    name: Deploy to development
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: git-ftp push
      uses: sebastianpopp/git-ftp-action@releases/v3
      with:
        url: ${{ secrets.ftp_address }}
        user: ${{ secrets.ftp_user }}
        password: ${{ secrets.ftp_password }}
        syncroot: publish
        options: --remote-root travellist/publish
